* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    min-height: 100vh;
}


/* ==============
typografi
================= */

.logo p {
    font-size: 1.6rem;
    font-weight: 400;
    color: white;

}

i {
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
}

.line {
    height: 30px;
    border-left: 3px solid white;
}
/* ==============
layout-header
================= */

.flex-container-header {
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.logo {
    display: flex;
    gap: 1rem;
}
.abstract-logo {
    width: 150px;
}




.nav-bar {
    display: flex;
    gap: .5rem;
    cursor: pointer;
}



.flex-hero h1 {
    font-size: 3rem;
    font-weight: 400;
    margin-top: 3rem;
}

.flex-hero {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 2em;
    max-width: 720px;
    margin: 0 auto;
    min-height: 40vh;
    
    
}
.background-container {
    background: #dadbf1;
    
}

.input-h1-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* border: solid; */
    width: 100%;
    
}

input {
    width: 100%;
    padding: 1rem;
    font-size: 1.3rem;
    border: 1px solid black;
    border-radius: 6px;
}



/* cards and stuff in main */


.card-rubrik {
    font-size: 2rem;
}

.card-text {
    font-size: 1.3rem;
}

.card-link {
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    color: #1a73e8;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}


.card-container {
    padding: 2em;
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    align-items: flex-start;
    max-width: 500px;
    gap: 1rem;
    
}

@media (min-width: 900px) {
    .card-container {
      flex: 1 1 50%; 
    }
  }





