* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    min-height: 100vh;
    background: rgb(241, 239, 239);
    
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    
}


/* ==============
typografi
================= */

.logo p {
    font-size: 1.6rem;
    font-weight: 400;
    color: white;

}

i {
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
}

.line {
    height: 30px;
    border-left: 3px solid white;
    
}



/* ==============
layout-header
================= */

.flex-container-header {
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.logo {
    display: flex;
    gap: 1rem;
   
}
.abstract-logo {
    width: 160px;
    
}


.nav-bar {
    display: flex;
    gap: .5rem;
    cursor: pointer;
    
}

/* desktop header buttons */



.btn {
    text-decoration: none;
    background: #5647db;
    color: white;
    font-size: 1.3rem;
    padding: .7rem 1.3rem;
    margin-left: 1rem;
    border-radius: 10px;
    transition: all 450ms;
    display: inline-block;
    
}

.transparent {
    background: none;
    border: 1px solid white;
}

.purple { 
    padding: .7rem 1.9rem;
}

.btn:hover,
.btn:focus{
    
    transform: scale(1.1);
}

.desktop-buttons {
    display: none;
}



@media (max-width: 500px) {
    .flex-container-header {
        display: flex;
        flex-direction: column;
    }
    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .line {
        display: none;
    }
    
}

/* desktop buttons come forward 
and nav-bar icons disappear */

@media (min-width: 1000px){
    .nav-bar {
        display: none;
    }

    .desktop-buttons {
        display: block;
    }



    

    
}



.flex-hero h1 {
    font-size: 3rem;
    font-weight: 400;
    margin-top: 3rem;
}

.flex-hero {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 2em;
    max-width: 720px;
    margin: 0 auto;
    min-height: 40vh;
    
    
}
.background-container {
    background: #dadbf1;
    
}

.input-h1-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* border: solid; */
    width: 100%;
    
}

input {
    width: 100%;
    padding: 1rem;
    font-size: 1.3rem;
    border: 1px solid black;
    border-radius: 6px;
}



/* cards and stuff in main */


.card-rubrik {
    font-size: 2rem;
}

.card-text {
    font-size: 1.3rem;
}

.card-link {
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    color: #1a73e8;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    background: rgb(255, 255, 255);
}


.card-container {
    padding: 2em;
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    align-items: flex-start;
    max-width: 500px;
    gap: 1rem;
    
    
}

@media (min-width: 900px) {
    .card-container {
      flex: 1 1 50%; 
    }
  }




/*Footer container */


.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
}


.footer-content {
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}

aside {
    color: white;
}
